*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/*header*/
.headder-banner{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    padding: 200px 200px 300px; 
    background-size:contain;
}
.headder-banner-title{
    color: #FFFFFF;
    font-size:55px;
    font-weight: 700px;
    margin-bottom:40px;

}
.headder-banner-des{
    color: #FFFFFF;
    margin-bottom:40px;
    line-height: 25px;
}
.headder-banner-btn{
    background-color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 7px;
    border: 0px;
}

/*main section*/
main{
    max-width: 1100px;
    margin: 0px auto;
}

/*About me*/
.about{
    display: flex;
    gap: 40px;
}
.about-contant{
    margin: auto 0px;
}
.about-head{
    margin-top: 200px;
    text-align: center;
    font-size: 45px;
    font-weight: 700px;
    padding-top: 80px;
}
.about-title{
    font-size: 30px;
    font-weight: 700;
}
.about-main{
    background-color: #e6e1e1;
    padding-left:80px;
    padding-bottom: 80px;
    padding-right: 80px;
    box-shadow: 15px 10px #c2bfbf;
}
.about-des{
    color: #444343;
    padding-top: 30px;
    line-height: 25px;
}
.about-img{
    background-color: #444343;
    border-radius: 50%;
    border: 5px solid rgb(253, 251, 142);
}
.myfailure{l
    text-align: left: ;;
    margin: auto 0px;
}
p span{
    color: green;
}
.myfailure-step{
    color: #444343;
    margin-bottom:5px;
}
.myfailure-cont{
    display: flex;
    gap: 50px;
}
.myfailure-title{
    margin-bottom: 25px;
    font-weight: 700px;
    font-size: 40px;
}
.myfailure-des{
    margin-bottom: 15px;
    line-height: 25px;
    color: #444343;
}
.My-skills{
    display: flex;
    gap: 90px;
    justify-content: space-between;
}
.My-Plans-title{
    text-align: center;
    margin: 130px 0px 50px 0px;
}

/*my akills*/
.My-skills-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
}
.My-skills-img{
    margin-bottom: 30px;
}
.My-skills-des{
    color: #737272;
}
.My-skills-containt{
    text-align: center;
}

/*watch-img-containt*//*background-blend-mode proparty use hoic*/
.watch-img-containt{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 80px 100px 100px 100px;
    background-image: linear-gradient(to right, blue , black), url(../images/watch.png);
    background-blend-mode:screen;
    background-repeat: no-repeat;
}
.watch-img-btn{
    padding: 8px 25px;
    border: 0px;
    border-radius: 8px;
}
.watch-img-title{
    font-weight: 700;
    font-size: 30px;
    color: ;
    line-height: 40px;
    margin-bottom: 10px;
}

/*Footer*/
footer{
    background-color: black;
    padding: 100px 0px;
}
.footer-containt{
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    gap: 50px;
    justify-content: space-between;
}
.footer-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.footer-des{
    color: #FFFFFF;
}
.footer-link{
    margin-top: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-input{
    padding: 15px 50px;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;

}
.footer-btn{
    padding: 15px 30px;
    margin-top: 10px;
}
.footer-btn-inpu{
    
}